<div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Request Id</th>
          <th>Rental Out Time</th>
          <th>Registration Number</th>
          <th>Nic Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody  *ngIf="rentalRec.length > 0">
        <tr *ngFor="let item of rentalRec">
         

          <td>{{ item.rentalRequestId}}</td>
          <td >{{item.rentalOut | date}}</td>
  
          <!-- Brand Column -->
          <td>{{ item.registrationNumber }}</td>
  
          <!-- Model Column -->
          <td>
              {{item.rentalRequest.nicNumber}}
          </td>
          

    <td>
        <div class="col-4">
            <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#paymentModal" (click)="selected=item" (click)="displayPayment(item.id)">Return</button>
        </div>
    </td>
  
          
        </tr>
      </tbody>
    </table>
  </div>




<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Rent Payment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- <div class="modal-body" *ngIf="rentalRecord">
        <div class="col-8" >
          <h6>Rental Start : {{rentalRecord.rentalOut | date : 'MMM d, y, h:mm:ss a'}} </h6>
          <h6>Rental End : {{currentTime | date : 'MMM d, y, h:mm:ss a'}} </h6>
          <div *ngIf="pay">
              <h4>Payment : {{pay.payment| number: '2.0-1'}}</h4>
          </div>               
      </div>  
      </div> -->
      <div class="modal-body" *ngFor="let item of rentalRec">
        <div class="col-8" >
          <h6>Rental Start : {{item.rentalOut | date : 'MMM d, y, h:mm:ss a'}} </h6>
          <h6>Rental End : {{currentTime | date : 'MMM d, y, h:mm:ss a'}} </h6>
          <div *ngIf="pay">
              <h4>Payment : {{pay.payment| number: '2.0-1'}}</h4>
          </div>               
      </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm Rent</button>
      </div>
    </div>
  </div>
</div>