<hr class="featurette-divider">

<div class="row featurette" *ngIf="bikeData">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">{{bikeData.brand}} <span class="text-body-secondary">{{bikeData.model}}</span></h2>
    <p class="lead">This BikeType is {{bikeData.type}} So rent per hour </p> <h1>Rs.{{bikeData.rentPerHour}} </h1>
    <p class="lead">Your rent 24 hours only thats times <span class="text-danger">over due</span> extra charge in management</p>
  </div>

  <!-- sample -->
  <!-- <div *ngIf="bike.bikeUnits[0].images">
    <img [src]="'http://localhost:5268/' + bike.bikeUnits[0].images" alt="Bike Image" width="100" />
    
  </div> -->

   <!-- Display the image -->
   <!-- <div *ngIf="bike.bikeUnits && bike.bikeUnits[0]?.images?.length">
    
    <img [src]="'http://localhost:5268/' + bike.bikeUnits[0].images[0].imagePath" alt="Bike Image" width="100" />
  </div> -->
  <!-- ... -->

  <!-- <div *ngIf="bike.bikeUnits && bike.bikeUnits[0]?.images?.length">
    <ng-container *ngFor="let unit of bike.bikeUnits[0].images">
      <div *ngIf="unit.imagePath">
        <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" width="100" />
      </div>
    </ng-container>
  </div> -->
  
  
  
  <form [formGroup]="rentalRequestForm" (ngSubmit)="onRequest()">
    <label  class="form-label">Date of rent :</label>
    <input type="text" formControlName="requestTime" class="form-control" bsDatepicker>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="!bikeData">Request</button>
</form>


</div>


<hr class="featurette-divider">

<div class="col-md-5" *ngFor="let item of bikes">
   
  <ng-container *ngFor="let unit of item.bikeUnits[0].images">
    <div *ngIf="unit.imagePath && unit.imagePath">

      <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" width="100" />
    </div>
  </ng-container>
</div>


<!-- <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
  </div>
  <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
  </div>
</div> -->
