<div class="container mt-4">
  <!-- Row for search filters -->
  <div class="row justify-content-center mb-4">
    <!-- Search for Bike Type -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
      <input 
        type="text" 
        class="form-control form-control-lg" 
        placeholder="Search Bike Type..." 
        [(ngModel)]="searchType">
    </div>

    <!-- Search for Bike Brand -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
      <input 
        type="text" 
        class="form-control form-control-lg" 
        placeholder="Search Bike Brand..." 
        [(ngModel)]="searchBrand">
    </div>

    <!-- Search for Bike Model -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
      <input 
        type="text" 
        class="form-control form-control-lg" 
        placeholder="Search Bike Model..." 
        [(ngModel)]="searchModel">
    </div>
  </div>






<br>
<div class="row">
  <!-- Loop through bikesArray to display each bike in a card -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let item of bikesArray |  type: searchType : searchBrand : searchModel " >
    <!-- Bike Card -->
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <!-- Bike Image -->
        <div class="mb-3">
          <ng-container *ngFor="let unit of item.bikeUnits[0].images">
            <div *ngIf="unit.imagePath">
              <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" class="card-img-top" />
            </div>
          </ng-container>
        </div>

        <!-- Bike Brand and Model -->
        <h5 class="card-title">{{ item.brand }} - {{ item.model }}</h5>
        <p class="card-text">This BikeType is {{item.type}}</p>

        <!-- View Details Button (Triggers Modal) -->
        <p><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selected = item">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Happy Journey</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Pass selected bike data to the details component -->
        <app-bikes-details [bikeData]="selected"></app-bikes-details>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
