<!-- bike.component.html -->
<div class="container mt-4">
  <h2>Select Bike Type</h2>

  <!-- Dropdown button -->
  <div class="dropdown">
    <button class="btn btn-primary" (click)="toggleDropdown()">
      {{ selectedType ? selectedType : 'Select Type' }}
    </button>

    <!-- Dropdown list, shown when dropdownOpen is true -->
    <ul class="dropdown-menu" *ngIf="dropdownOpen">
      <li *ngFor="let type of bikeTypes">
        <a class="dropdown-item" href="#" (click)="selectType(type)">{{ type }}</a>
      </li>
    </ul>
  </div>
</div>




<br>
<div class="row">
  <!-- Loop through bikesArray to display each bike in a card -->
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let item of bikesArray">
    <!-- Bike Card -->
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <!-- Bike Image -->
        <div class="mb-3">
          <ng-container *ngFor="let unit of item.bikeUnits[0].images">
            <div *ngIf="unit.imagePath">
              <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" class="card-img-top" />
            </div>
          </ng-container>
        </div>

        <!-- Bike Brand and Model -->
        <h5 class="card-title">{{ item.brand }} - {{ item.model }}</h5>
        <p class="card-text">Some representative placeholder content for the bike. It's designed for comfort and performance.</p>

        <!-- View Details Button (Triggers Modal) -->
        <p><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selected = item">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Happy Journey</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Pass selected bike data to the details component -->
        <app-bikes-details [bikeData]="selected"></app-bikes-details>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
