<div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Type</th>
          <th>Rate per Hour</th>
          <th>Registration Number</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of bikesArray">
          <td>{{ item.id }}</td>
  
          <!-- Image Column -->
          <td>
            <ng-container *ngFor="let unit of item.bikeUnits[0].images">
              <div *ngIf="unit.imagePath && unit.imagePath">

  
                <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" width="100" />
              </div>
            </ng-container>
          </td>
  
          <!-- Brand Column -->
          <td>{{ item.brand }}</td>
  
          <!-- Model Column -->
          <td>{{ item.model }}</td>
  
          <!-- Type Column -->
          <td>{{ item.type }}</td>
  
          <!-- Rate per Day Column -->
          <td>{{item.rentPerHour}}</td>
  
        
  
          <!-- Registration Number Column -->
          <td>
            <ng-container *ngFor="let unit of item.bikeUnits">
              <span>{{ unit.registrationNumber }},</span>
            </ng-container>
          </td>

          <td>
            
          </td>
          <!-- <td>
            <button class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#bikeEditModal"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger" ><i class="bi bi-trash"></i></button>
          </td> -->
          
        </tr>
      </tbody>
    </table>
  </div>
  