<div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Modal</th>
          <th>Type</th>
          <th>Rate per Hour</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>John Doe</td>
          <td>Mountain Bike</td>
          <td>2024-11-18</td>
          <td>454</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jane Smith</td>
          <td>Road Bike</td>
          <td>2024-11-17</td>
          <td>445</td>
        </tr>
      </tbody>
    </table>
  </div>



  <!-- <span class="badge bg-warning">Pending</span> -->
