<br>
<div class="row justify-content-center mb-4">
  <!-- Search for Bike Brand and Model -->
  <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
    <input 
      type="text" 
      class="form-control form-control-lg" 
      placeholder="Search Bike Brand and Model..." 
      [(ngModel)]="searchText">
  </div>

<div class="d-flex flex-row-reverse">
  <div class="row mt-3">
    <div class="col">
      <!-- Add Bike Button with Icon -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bikeaddModal">
        <i class="bi bi-plus-circle"></i> Add Bike
      </button>
    </div>
  </div>
</div>

<!-- Add Modal -->
<!-- Modal -->
<div class="modal fade" id="bikeaddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 fw-bold text-center text-primary" id="exampleModalLabel">
          <i class="bi bi-bicycle me-2"></i> Add New Bikes
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="container">
        <form [formGroup]="bikeForm">
          <div class="modal-body">
            <!-- Bike Brand -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-bicycle"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike brand" formControlName="brand">
                </div>
              </div>
            </div>

            <!-- Bike Model -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-bicycle"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike model" formControlName="model">
                </div>
              </div>
            </div>

            <!-- Bike Type -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-bounding-box"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike type" formControlName="type">
                </div>
              </div>
            </div>

             <!-- Rent per Day -->
             <div class="col-12 mt-2">
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-cash-coin"></i></span>
                <input type="number" class="form-control" placeholder="Enter the Rent per Hour" formControlName="rentPerHour">
              </div>
            </div>
          
            <br>
            <!-- Bike Units (Bike Specific) -->
            <div formArrayName="bikeUnits">
              <div *ngFor="let checkList of myBikeUnits.controls; let i = index;" [formGroupName]="i">
                <div class="row mb-3">
                   <!-- Bike Unit Id -->
                   <div class="col-12" *ngIf="isEditForm">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-bounding-box"></i></span>
                      <input type="text" class="form-control" placeholder="Enter the Registration Number" formControlName="unitId" readonly>
                    </div>
                  </div>

                  <!-- Registration Number -->
                  <div class="col-12">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-bounding-box"></i></span>
                      <input type="text" class="form-control" placeholder="Enter the Registration Number" formControlName="RegistrationNumber">
                    </div>
                  </div>

                  <!-- Year -->
                  <div class="col-12 mt-2">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-calendar"></i></span>
                      <input type="number" class="form-control" placeholder="Enter the Year" formControlName="year">
                    </div>
                  </div>

                 
                </div>


                              <!-- Image Upload -->
                  <div class="col-12 mt-3">
                    <input type="file" class="form-control" (change)="onImageChange($event, i)" multiple>
                  </div>
                  
                  <!-- Images Preview -->
                  <!-- <div class="col-12 mt-2">
                    <div *ngFor="let image of (unit.get('images') as FormArray).controls">
                      <p>{{ image.value.imagePath }}</p> 
                    </div>
                  </div> -->
                

                <!-- Remove Bike Unit -->
                <div class="col-12 text-center mt-2">
                  <button class="btn btn-danger" type="button" (click)="removeCheckList(i)">Remove</button>
                </div>
              </div>

              <!-- Button to Add New Bike Unit -->
              <div class="row mt-3">
                <div class="col-12 text-center">
                  <button class="btn btn-success" type="button" (click)="addCheckList()">Add Bike Unit</button>
                </div>
              </div>

            </div>

          </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="button" class="btn btn-primary shadow-lg px-4 py-2 rounded-3 text-white fw-bold"
              (click)="addBike()" data-bs-dismiss="modal">
              Save
            </button>
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 
    



<div class="table-responsive mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Type</th>
        <th>Rate per Hour</th>
        <th>Registration Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bikesArray | brandModel:searchText">
        <td>{{ item.id }}</td>

       
        <td>
          <ng-container *ngFor="let unit of item.bikeUnits[0].images">
            <div *ngIf="unit.imagePath && unit.imagePath">

              <img [src]="'http://localhost:5268/' + unit.imagePath" alt="Bike Image" width="100" />
            </div>
          </ng-container>
        </td>

        
        <td>{{ item.brand }}</td>

        
        <td>{{ item.model }}</td>

       
        <td>{{ item.type }}</td>

        
        <td>{{item.rentPerHour}}</td>

    

        
        <td>
          <ng-container *ngFor="let unit of item.bikeUnits">
            <span>{{ unit.registrationNumber }},</span>
          </ng-container>
        </td>
        <td >
          
          <button class="btn btn-outline-success m-1"  data-bs-toggle="modal" data-bs-target="#bikeaddModal" (click)="Edit(item.id)"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-outline-danger"  (click)="openModal(template,item.id)" ><i class="bi bi-trash"></i></button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>


<br><br>
<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>


<!-- (click)="selected=item; openModal(template)" -->

<!--Edit Modal -->
<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit bike</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-bike-edit [currentBike]="selected">

    </app-bike-edit>
  </div>
</ng-template> -->




<!-- <div  *ngIf="selected" class="modal fade" id="bikeEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{selected.brand}}
        <h1 class="modal-title fs-4 fw-bold text-center text-primary" id="exampleModalLabel">
          <i class="bi bi-bicycle me-2"></i> Edit Bikes
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

   
      
    </div>
  </div>
</div> -->


<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
 
<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->





<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
 






   <!-- <app-bike-add></app-bike-add> -->



   <!-- <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit bike</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-bike-edit></app-bike-edit>
    </div>
  </ng-template> -->