<div class="d-flex flex-row-reverse">
  <div class="row mt-3">
    <div class="col">
      <!-- Add Bike Button with Icon -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bikeaddModal">
        <i class="bi bi-plus-circle"></i> Add Bike
      </button>
    </div>
  </div>
</div>




<!-- Add Modal -->
<!-- Modal -->
<div class="modal fade" id="bikeaddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 fw-bold text-center text-primary" id="exampleModalLabel">
          <i class="bi bi-bicycle me-2"></i> Add New Bikes
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="container">
        <form [formGroup]="bikeForm">
          <div class="modal-body">
            <!-- Bike Brand -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-bicycle"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike brand" formControlName="brand">
                </div>
              </div>
            </div>

            <!-- Bike Model -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-bicycle"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike model" formControlName="model">
                </div>
              </div>
            </div>

            <!-- Bike Type -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-bounding-box"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the bike type" formControlName="type">
                </div>
              </div>
            </div>

            <!-- Rate per Hour -->
            <div class="row mb-3">
              <div class="col-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"><i class="bi bi-cash-coin"></i></span>
                  <input type="text" class="form-control" placeholder="Enter the Rate per hour" formControlName="ratePerHour">
                </div>
              </div>
            </div>

            <!-- Bike Units (Bike Specific) -->
            <div formArrayName="bikeUnits">
              <div *ngFor="let checkList of myBikeUnits.controls; let i = index;" [formGroupName]="i">
                <div class="row mb-3">
                  <!-- Registration Number -->
                  <div class="col-12">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-bounding-box"></i></span>
                      <input type="text" class="form-control" placeholder="Enter the Registration Number" formControlName="RegistrationNumber">
                    </div>
                  </div>

                  <!-- Year -->
                  <div class="col-12 mt-2">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-calendar"></i></span>
                      <input type="text" class="form-control" placeholder="Enter the Year" formControlName="year">
                    </div>
                  </div>

                  <!-- Rent per Day -->
                  <div class="col-12 mt-2">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"><i class="bi bi-cash-coin"></i></span>
                      <input type="text" class="form-control" placeholder="Enter the Rent per day" formControlName="rentPerDay">
                    </div>
                  </div>
                </div>

                <!-- Remove Bike Unit -->
                <div class="col-12 text-center mt-2">
                  <button class="btn btn-danger" type="button" (click)="removeCheckList(i)">Remove</button>
                </div>
              </div>

              <!-- Button to Add New Bike Unit -->
              <div class="row mt-3">
                <div class="col-12 text-center">
                  <button class="btn btn-success" type="button" (click)="addCheckList()">Add Bike Unit</button>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="button" class="btn btn-primary shadow-lg px-4 py-2 rounded-3 text-white fw-bold"
              (click)="addBike()" data-bs-dismiss="modal">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





      <!-- <div class="col-2">
                                <input type="checkbox" class="form-check-input fs-4 ms-4" id=""
                                    formControlName="isDone">

                            </div> -->
                            <!-- <div class="col-8">
                                <input type="text" class="form-control" id="" formControlName="RegistrationNumber" placeholder="Enter the Registration Number">
                                <small
                                    *ngIf="bikeForm.get('bikeUnits.RegistrationNumber')?.errors && bikeForm.get('bikeUnits.RegistrationNumber')?.touched">Registration Number
                                    is required</small>
                            </div> -->


 <!-- <div class="col-8">
                            <input type="text" class="form-control" id="" formControlName="year" placeholder="Enter the Year">
                            <small
                                *ngIf="bikeForm.get('bikeUnits.year')?.errors && bikeForm.get('bikeUnits.year')?.touched">Year
                                is required</small>
                        </div> -->
                      
<!-- <div class="col-8">
                          <input type="text" class="form-control" id="" formControlName="rentPerDay" placeholder="Enter the Rent per day">
                          <small
                              *ngIf="bikeForm.get('bikeUnits.year')?.errors && bikeForm.get('bikeUnits.year')?.touched">Year
                              is required</small>
                              
                      </div> -->








<!-- <div class="table-responsive mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Type</th>
        <th>Rate per Day</th>
        <th>Registration Number</th>
      </tr>
    </thead>
    <tbody >
    

      <tr *ngFor="let item of bikesArray">
        <td>{{ item.id }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.type }}</td>

        <td>
     
          <span *ngFor="let unit of item.bikeUnits">
            {{ unit.rentPerDay }}
          </span>
        </td>

        <td>
  
          <span *ngFor="let unit of item.bikeUnits">
            {{ unit.registrationNumber }}
          </span>
        </td>

        <td>
     
          <div *ngFor="let unit of item.bikeUnits">
            <img *ngIf="unit.imagepath && unit.imagepath.length > 0" 
                 [src]="'http://localhost:5268/' + unit.imagepath[0].imagePath" 
                 alt="Bike Image" width="100" />
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div> -->



<div class="table-responsive mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Type</th>
        <th>Rate per Day</th>
        <th>Registration Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bikesArray">
        <td>{{ item.id }}</td>

        <!-- Image Column -->
        <td>
          <ng-container *ngFor="let unit of item.bikeUnits">
            <div *ngIf="unit.imagepath && unit.imagepath.length > 0">
              <img [src]="'http://localhost:5268/' + unit.imagepath[0].imagePath" alt="Bike Image" width="100" />
            </div>
          </ng-container>
        </td>

        <!-- Brand Column -->
        <td>{{ item.brand }}</td>

        <!-- Model Column -->
        <td>{{ item.model }}</td>

        <!-- Type Column -->
        <td>{{ item.type }}</td>

        <!-- Rate per Day Column -->
        <td>
          <ng-container *ngFor="let unit of item.bikeUnits">
            <span>{{ unit.rentPerDay }}</span>
          </ng-container>
        </td>

        <!-- Registration Number Column -->
        <td>
          <ng-container *ngFor="let unit of item.bikeUnits">
            <span>{{ unit.registrationNumber }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>





<!-- <div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Modal</th>
          <th>Type</th>
          <th>Rate per Hour</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of bikes">
        <tr >
          <td>{{item.id}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.type}}</td>
          <td>{{item.ratePerHour}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->



<!-- <span class="badge bg-warning">Pending</span> -->



<!-- Pagination controls -->
<!-- <div *ngIf="bikes.length > 0">
    <button (click)="onPageChange(pagenumber - 1)" [disabled]="pagenumber <= 1">Previous</button>
    <span>Page {{ pagenumber }}</span>
    <button (click)="onPageChange(pagenumber + 1)">Next</button>
  </div> -->


<!-- <td style="width: 30px; height: 20vh;">
          <img *ngIf="item.image" [src]="'http://localhost:5268/bike-images/'+item.image" alt="Uploaded Bike Image" class="img-thumbnail" />
          <span *ngIf="!item.image">No image available</span>
        </td> -->




  <!-- <tr *ngFor="let item of bikesArray">
        <td>{{ item.id}}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.type }}</td>
        <td *ngFor="let unit of item.bikeUnits">
          {{ unit.rentPerDay}}
        </td>
        <td>{{unit?.registrationNumber}}</td>
        <td>
          <div *ngFor="let image of unit?.images">
            <img *ngFor="let image of item.bikeUnits?.[0]?.imagepath" [src]="'http://localhost:5268/'+image.imagePath"
              alt="Bike Image" width="50" height="50">
          </div>
        </td>

      </tr> -->



     <!-- image -->
            <!-- <div class="modal-body">
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-cash-coin"></i></span>
                <input type="file" class="form-control" aria-label="type" aria-describedby="addon-wrapping"
                  formControlName="image" (change)="onFileSelected($event)">
              </div>
            </div> -->