
  <!-- Search for Bike Brand and Model -->
  <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mt-3">
    <input 
      type="text" 
      class="form-control form-control-lg" 
      placeholder="Searchig customer NIC Number..." 
      [(ngModel)]="searchText">
  </div>

<div class="table-responsive mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Bike Id</th>
          <th>Bike Name</th>
          <th>NIC Number</th>
          <th>Request Time</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody  *ngIf="rentalReq.length > 0">
        <tr *ngFor="let item of rentalReq | rentalRequest : searchText">
          <td>{{ item.bikeId}}</td>
          <td >{{item.bike?.brand}} {{item.bike?.model}}</td>
  
          <!-- Brand Column -->
          <td>{{ item.nicNumber }}</td>
  
          <!-- Model Column -->
          <td>{{ item.requestTime | date}}</td>
  
          <!-- Type Column -->
          <td>{{ item.status }}</td>
  
          <td><button class="btn btn-outline-success m-1" (click)="acceptRequest(item.id)">Accept</button>
            <button class="btn btn-outline-danger" (click)="openModal(template,item.id)">Decline</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>


  <br><br>
  <pre class="card card-block card-header">{{message}}</pre>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>