<div class="d-flex">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Admin Dashboard</h2>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active list-group-item list-group-item-action" >
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" [routerLink]="['/admin/bikeTable']" routerLinkActive="active">
          <i class="bi bi-bicycle"></i> Inventory
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" [routerLink]="['/admin/customerList']" routerLinkActive="active">
          <i class="bi bi-cart-check"></i> Customers
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" [routerLink]="['/admin/request-list']" routerLinkActive="active">
          <i class="bi bi-person-circle"></i> Rentals Request
        </a>`
      </li>
     
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" >
          <i class="bi bi-shop-window"></i> Rentals Process
        </a>`
      </li>

      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" >
          <i class="bi bi-person-circle"></i> Return Process
        </a>`
      </li>
     
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" >
          <i class="bi bi-person-circle"></i> Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content w-100">
    <!-- Top Bar -->
    <nav class="navbar navbar-expand-lg top-bar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h3 class="scrolling-heading">Welcome to Heaven Ride Bike Rental Shop</h3></a>
        <button class="btn btn-link d-lg-none" (click)="toggleSidebar()">
          <i class="bi bi-list"></i>
        </button>
      </div>
    </nav>

    <!-- Dashboard Content -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Bikes</h5>
              <p class="card-text">120 bikes available</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bookings</h5>
              <p class="card-text">30 active bookings</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Revenue</h5>
              <p class="card-text">$3500 this month</p>
            </div>
          </div>
        </div>
      </div>


      <router-outlet></router-outlet>


    </div>
  </div>
</div>




<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Rentals
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Rental Request</a></li>
    <li><a class="dropdown-item" href="#">Rental Process</a></li>
    <li><a class="dropdown-item" href="#">Return</a></li>
  </ul>
</div> -->